@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
.bg-light {
  background-color: #8ead52;
  box-shadow: 5px 5px;
}
.navbar-light .navbar-brand {
  font-family: "Dancing Script", cursive;
  color: black;
}

a {
  font-family: "Dancing Script", cursive;
  color: #fb0413;
}

a:hover {
  font-family: "Dancing Script", cursive;
  color: #6213ec;
}
body {
  background: rgb(174, 238, 231);
  background: radial-gradient(
    circle,
    rgba(174, 238, 231, 1) 0%,
    rgba(224, 237, 226, 1) 100%
  );
}

